@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

html {
  font-family: 'Exo', sans-serif;
  font-optical-sizing: auto;
}

@layer base {
  h1 {
    font-size: var(--text-6xl);
  }
  h2 {
    font-size: var(--text-5xl);
  }
  h3 {
    font-size: var(--text-4xl);
  }
  h4 {
    font-size: var(--text-3xl);
  }
  h5 {
    font-size: var(--text-2xl);
  }
  h6 {
    font-size: var(--text-xl);
  }
  p {
    font-size: var(--text-base);
  }
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-text: var(--primary-text);
  --color-secondary: var(--secondary);
  --color-secondary-text: var(--secondary-text);
  --color-background: var(--background);
  --color-paper: var(--paper);
}

:root {
  --primary: #c9c9c9;
  --primary-text: #000;
  --secondary: #ff4e08;
  --secondary-text: #fff;
  --background: #000;
  --paper: #242424;
}

.dark {
  --primary: #000;
  --primary-text: #c9c9c9;
  --secondary: #ff4e08;
  --background: #c9c9c9;
  --paper: #242424;
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 12px var(--color-secondary);
  }
  50% {
    box-shadow: 0 0 18px var(--color-secondary);
  }
}
